@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.menu-hamburger {
  position: relative;
  width: 1;
  height: 1;
  display: inline-block;
  padding-left: 1.25em;
}

.menu-hamburger:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}

#top-header {
  position: fixed;
  height: 100px;
}

#top-header h1 {
  display: inline-block;
}

#content {
  position: absolute;
  top: 100px;
}

#navigation-toggle~#main-navigation {
  display: none;
}

#navigation-toggle:checked~#main-navigation {
  display: block;
  position: absolute;
  left: 0;
  top: 100px;
  width: 250px;
}

#navigation-toggle:checked~#content {
  margin-left: 250px;
}

/* accessible hide */
#navigation-toggle-label,
#navigation-toggle {
  position: absolute;
  left: -99999px;
}
