body {
  font-family: 'Lato', sans-serif;
  font-size: 4vw;
  margin: 1em;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.menu-hamburger {
  position: relative;
  width: 1;
  height: 1;
  display: inline-block;
  font-size: 1.5em;
  padding-left: 2em;
}

.menu-hamburger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #fff;
  border-bottom: 0.125em solid #fff;
  margin: 0 0.5em;
}

#top-header {
  position: fixed;
  top:0;
  left:0;
  height: 2.5em;
  width: 100%;
  font-size: 1.5 em;
  background-color: #722327;
  color: white;
}

#top-header h1 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

#content {
  position: absolute;
  top: 2.5em;
}

#navigation-toggle~#main-navigation {
  display: none;
}

#navigation-toggle:checked~#main-navigation {
  display: block;
  position: absolute;
  left: 0;
  top: 100px;
  width: 250px;
}

#navigation-toggle:checked~#content {
  margin-left: 250px;
}

/* accessible hide */
#navigation-toggle-label,
#navigation-toggle {
  position: absolute;
  left: -99999px;
}
