@forbes-red: #722327;
@forbes-green: #006c64;

body {
  font-family: 'Lato', sans-serif;
  font-size: 4vw;
  background-color: white;
  margin: 0;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  #top-header-content,
  #main-area {
    width: 1200px;
    margin: 0 auto;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.menu-hamburger {
  position: relative;
  width: 1;
  height: 1;
  display: inline-block;
  font-size: 1.5em;
  padding-left: 2em;
}

.menu-hamburger:before {
  content: "";
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #fff;
  border-bottom: 0.125em solid #fff;
  margin: 0 0.5em;
}

#main-navigation {
  background-color: white;
  border-right: solid @forbes-red 0.2em;
  border-bottom: solid @forbes-red 0.2em;
  box-shadow: 0 0 0.5em @forbes-red;

  ul {
    margin: 0;
    padding: 0;
  }

  & > ul > li {
    display: block;
    margin: 0;
    font-size: 1.5em;
    border-bottom: double 0.2em @forbes-red;
  }

  details {
    & > summary {
      list-style: none;
      &::-webkit-details-marker {
        display: none;
      }
    }
    ul {
      margin-left: 1.5em;
      font-size: 0.75em;
      li {
        padding: 0.25em 0;
      }
    }
  }

}

#menu-item-hours,
#menu-item-location,
#menu-item-contact,
#menu-item-events,
#menu-item-give,
#menu-item-help,
#menu-item-collections {
  padding: 0.25em;
}
#menu-item-coolidge,
#menu-item-digital-gallery {
  text-align: center;
  padding-bottom: 0.5em;
}
#menu-item-coolidge a,
#menu-item-digital-gallery a {
  font-size: 0.75em;
}
#menu-item-coolidge img,
#menu-item-digital-gallery img {
  margin-bottom: 0.5em;
}

#top-header {
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  height: 3em;
  width: 100%;
  background-color: @forbes-red;
  color: white;
}
#top-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#top-header h1 {
  margin: 0;
  flex-grow:1;
}

#search-button {
  font-size: 1.25em;
  padding: 0 0.5em;
}

#main-area {
  background-color: white;
  margin-top: 3em;
  box-shadow: 0 0 0.5em fade(@forbes-red, 50%);
}

#content {
  padding: 1em;
}

#navigation-toggle~#main-navigation {
  display: none;
}

#navigation-toggle:checked~#main-navigation {
  display: block;
  position: absolute;
  width: 250px;
}

#navigation-toggle:checked~#content {
  margin-left: 250px;
}

/* accessible hide */
#navigation-toggle-label,
#navigation-toggle {
  position: absolute;
  left: -99999px;
}
