body {
  font-family: 'Lato', sans-serif;
  font-size: 4vw;
  margin: 1em;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.menu-hamburger {
  position: relative;
  width: 1;
  height: 1;
  display: inline-block;
  font-size: 1.5em;
  padding-left: 2em;
}

.menu-hamburger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #fff;
  border-bottom: 0.125em solid #fff;
  margin: 0 0.5em;
}

#main-navigation {
  border-right: solid black 0.25em;
  box-shadow: 0 0 5px black
}

#main-navigation ul {
  margin: 0;
  padding: 0;
}

#main-navigation li {
  display: block;
  margin: 0;
  font-size: 1.5em;
  border-bottom: double 0.2em #722327;
}

#menu-item-hours,
#menu-item-location,
#menu-item-contact {
  padding: 0.25em;
}
#menu-item-coolidge {
  text-align: center;
  padding-bottom: 0.5em;
}
#menu-item-coolidge a {
  font-size: 0.75em;
}
#menu-item-coolidge img {
  margin-bottom: 0.5em;
}

#top-header {
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  height: 3em;
  width: 100%;
  background-color: #722327;
  color: white;
}

#top-header h1 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  line-height: 1.4;
}

#content {
  position: absolute;
  top: 3em;
}

#navigation-toggle~#main-navigation {
  display: none;
}

#navigation-toggle:checked~#main-navigation {
  display: block;
  position: absolute;
  left: 0;
  top: 3em;
  width: 250px;
  height: 100%;
}

#navigation-toggle:checked~#content {
  margin-left: 250px;
}

/* accessible hide */
#navigation-toggle-label,
#navigation-toggle {
  position: absolute;
  left: -99999px;
}
