/*** variable definitions ***/
@forbes-red: #722327;
@forbes-green: #006c64;
@header-height: 3em;

/*** imports ***/
@import "style/spinner.less";
@import "style/menu-hamburger.less";

/*** generic rules ***/
body {
  font-family: 'Lato', sans-serif;
  font-size: 4vw;
  background-color: white;
  margin: 0;
}

/*** navigation sidebar ****/
// the menu is closed by default, so we hide it off screen
#main-navigation {
  position: absolute;
  display: block;
  width: 250px;
  left: -250px;
}

// open the menu when the toggle is checked
#navigation-toggle:checked~#main-navigation {
  left: 0;
}

// menu should not overlap the content on wide screens
#navigation-toggle:checked~#content {
  @media (min-width:600px) {
    margin-left: 250px;
  }
}

// the menu is always open on very wide screens
@media (min-width: 1200px) {
  #navigation-toggle~#main-navigation,
  #navigation-toggle:checked~#main-navigation {
    left: initial;
  }
  #navigation-toggle~#content {
    margin-left: 250px;
  }
}

#main-navigation {
  background-color: white;
  box-shadow: 0 0 0.5em @forbes-red;
  transition-property: left;
  transition-duration: 0.25s;

  a, a:link, a:visited {
    color: black;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  & > ul > li {
    display: block;
    padding: 0.25em;
    margin: 0;
    font-size: 1.5em;
    border-bottom: double 0.2em @forbes-red;
  }

  details {
    & > summary {
      list-style: none;
      cursor: pointer;
      &::-webkit-details-marker {
        display: none;
      }
    }
    ul {
      margin-left: 1.5em;
      font-size: 0.75em;
      li {
        padding: 0.25em 0;
      }
    }
  }
  #menu-item-coolidge,
  #menu-item-digital-gallery {
    text-align: center;
    padding: 0 0 0.5em 0;
    a {
      font-size: 0.75em;
    }
    img {
      margin-bottom: 0.5em;
    }
  }
}

/*** search ***/
#search-button {
  font-size: 1.25em;
  padding: 0 0.5em;
  @media (min-width: 500px) {
    display: none;
  }
}

#search-form {
  margin: 0;
}

.no-results {
  font-weight: bold;
}

@media not all and (min-width: 500px) {
  #search-form:focus-within {
    position: absolute;
    top: @header-height;
    height: 5em;
    left: 0;
    right: 0;
    height: 100%;
    background-color: @forbes-red;
    #search-button {
      display: none;
    }
    #search-box {
      display: block;
      width: 80vw;
      margin: 0 auto;
    }
  }
}

#search-box {
  display: none;
  height: 2em;
  padding: 5px;
  @media (min-width: 500px) {
    display: inline;
    width: 200px;
  }
  @media (min-width: 1200px) {
    width: 300px;
  }
}

.search-result {
  h3 {
    margin-bottom: 0;
  }
  cite {
    a, a:link, a:visited {
      color: @forbes-green;
      font-style: normal;
    }
  }
  p {
    margin: 0.25em 0 0.25em 1em;
  }
}

.result-type {
  font-weight: bold;
  font-size: 0.9em;
  .fa {
    color: @forbes-red;
  }
}

/*** header ***/
#top-header {
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  height: @header-height;
  width: 100%;
  background-color: @forbes-red;
  color: white;
}

#top-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
}

#top-header h1 {
  margin: 0;
  flex-grow:1;
}

/*** content area ***/
#main-area {
  background-color: white;
  margin-top: @header-height;
  box-shadow: 0 0 0.5em fade(@forbes-red, 50%);
}

#content {
  padding: 1em;
  transition-property: margin-left;
  transition-duration: 0.25s;
}

/*** home page ***/
#home-page-logo {
  margin: 0 auto;
  display: block;
}

/* accessible hide */
#navigation-toggle-label,
#navigation-toggle {
  position: absolute;
  left: -99999px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  #top-header-content {
    width: 1200px;
    margin: 0 auto 0 auto;
  }
  #main-area {
    width: 1200px;
    margin: @header-height auto 0 auto;
  }
  #top-header .menu-hamburger {
    display: none;
  }
}
